<div class="spinner-border" role="status" *ngIf="!quizInitialised">
  <span class="sr-only">Loading...</span>
</div>

<form *ngIf="quizInitialised" novalidate [formGroup]="quizForm" (ngSubmit)="saveQuizForm()">

  <app-field label="Titre" [control]="quizForm.get('title')">
    <input type="text" class="form-control" placeholder="Titre" formControlName="title"
      [class.is-invalid]="quizForm.get('title').touched && quizForm.get('title').invalid">
  </app-field>

  <app-field label="Description" [control]="quizForm.get('description')">
    <textarea class="form-control" placeholder="Description" rows="3" formControlName="description">
    </textarea>
  </app-field>

  <app-field label="Peut ré-essayer les questions" [control]="quizForm.get('canRetryQuestion')">
    <input type="checkbox" formControlName="canRetryQuestion">
  </app-field>

  <button type="submit" class="btn btn-primary" [disabled]="quizForm.invalid">
    Enregistrer
  </button>
  <a class="btn" routerLink="..">Annuler</a>

</form>
