<div class="row">

  <div class="col-md-8">

    <div class="card">
      <div class="card-header">
        Question
      </div>
      <div class="card-body">
        <h5 class="card-title">QUESTION_TITLE</h5>
        <div class="list-group">
          <a href="javascript:void(0)" class="list-group-item list-group-item-action">
            QUESTION_CHOICE_1
          </a>
          <a href="javascript:void(0)" class="list-group-item list-group-item-action">
            QUESTION_CHOICE_2
          </a>
          <a href="javascript:void(0)" class="list-group-item list-group-item-action">
            QUESTION_CHOICE_3
          </a>
          <div class="list-group-item d-flex justify-content-end">
            <button class="btn btn-lg btn-primary">
              Soumettre
            </button>
          </div>
        </div>
      </div><!-- .card-body -->
    </div>

  </div>

</div>
