<div class="spinner-border" role="status" *ngIf="!currentQuiz">
    <span class="sr-only">Loading...</span>
  </div>

<ng-container *ngIf="currentQuiz">    
    <h2>{{currentQuiz.title}}</h2>
    <p>{{currentQuiz.description}}</p>

    <p *ngIf="!quizStarted">
        <button class="btn btn-info btn-lg"
            (click)="startQuiz()">
            Démarrer le quiz
        </button>
    </p>
</ng-container>

<ng-container *ngIf="quizStarted">
    <p>
        <app-quiz-nav [quiz]="currentQuiz" [question]="currentQuestion" [answers]="currentAnswers"
            (previous)="previousQuiz($event)" (next)="nextQuiz($event)" (saveQuizSubmission)="saveQuiz($event)">
        </app-quiz-nav>
    </p>

    <p>
        <app-quiz-question [question]="currentQuestion" [answer]="currentAnswer"
            (answerSubmitted)="receivedAnswer($event)">
        </app-quiz-question>
    </p>
</ng-container>